<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Modify With Care</comment>
	<entry key="app_schema">jdbc:oracle:thin:@localhost:1521:ORACLEDB</entry>
	<entry key="schema_user">FARM_DB</entry>
	<entry key="endpoint_port">8009</entry>
	<entry key="schema_paswd">oOh7N/7+JfM=</entry>
</properties>





